/* Base Styles */
body, *, *:before, *:after{
	box-sizing: border-box;
	margin:0;
	padding:0;
	text-decoration:none;
	list-style:none;
}
body {
    background: #e5e5e5;
    font-family:"Roboto", sans-serif;
    font-weight: 300;
    line-height: 1.5em;
}
h1 {
    font-size: 1.8em;
    line-height: 1em;
}
h2 {
    font-size: 1.4em;
    line-height: 1em;

}
a, a:visited {
    color:inherit;
}
em {
    font-weight: bold;
}
small {
    font-size: 0.8em;
}
/* Header */
/* -------------*/
.l-pad {
    padding: 1em;
}
.l-sidebar {
    width: 250px;
}
.l-content{
    padding: 1em;
    overflow: auto;
}
.l-content-constrained{
    padding-left: 270px;
}
.l-row {
    display: table-cell;
    width: 100%;
}
.l-column {
    display: table-cell;
    vertical-align: top;
}
/* Modular and Reusable */
.cf {
    overflow: auto;
}
.standout{
	background: #eee;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(0, 0, 0, 0.4);
}
.logo {
    font-family: "Stoke", sans-serif;
}
.logo h1 {
    display: inline-block;
    margin-right: 0.5em;
}
.logo-sub {
    color: #333;
    font-size: 0.6em;
    font-weight: 100;
}
.topbar {
    background: white;

}
.topbar-title {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color:white;
    background: #1aa1e1;
    float: left;
}
.topbar-title > i {
    margin-right: 0.5em;
}
.topbar-title > h2 {
    display: inline-block;
}
.categories {
	position:absolute;
	z-index:50;
	font-size:1.2em;
	line-height:2em;
	padding:0.5em 0;	
}
.categories a {
	color:#444;
	display:block;
	padding-left:1em;
	padding-right:1eml	
}
.categories a:hover {
	background: #e5e5e5;
}
.thumb {
    float: left;
    height: 207px;
    margin: 0.5em 0.2em;
}
.thumb-link {
    display: block;
    position: relative;
}
.thumb .thumb-link:hover > .overlay{
    display: block;
}
.books, .book {
    display: none;
}
.book-header {
    border-bottom: 2px solid #ccc;
}
.title {
    font-size: 1.8em;
    line-height: 1em;
    padding-bottom: 0.2em;
}
.thumb-image {
    width: 180px;
}
/* State-Classes */
.is-visible {
    display: block;
}